* {
  font-family: "Inter", sans-serif;
}

.auth-container {
  background-image: url("./assets/BG.png");
  background-size: cover;
}

.bg-overlay {
  background: linear-gradient(
    45deg,
    rgba(47, 140, 96, 0.5),
    rgba(0, 0, 0, 0.8)
  );
}

.buttons {
  background-color: #4aa35a;
  color: #ffffff;
  font-weight: bold;
}

.buttons:hover {
  background-color: #174b21;
  color: #ffffff;
}

.random-text {
  color: #4aa35a;
}

.toggleIcon,
.user-data,
.bell-notifications,
.sidebar-logo,
.options-icon {
  cursor: pointer;
}

.user-data:hover {
  background-color: rgb(224, 224, 224);
  border-radius: 18px;
}

.header-container {
  background-image: url("assets/bg-header.png");
  background-size: cover;
}

.sidebar-container {
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
}

.sidebar-container .ps-sidebar-container {
  background-color: #1f263e;
  color: #ffffff;
  border-top-right-radius: 40px;
  height: 100vh;
}

.sidebar-container .ps-menu-button:hover {
  background-color: rgba(0, 146, 77, 0.1) !important;
  border-left: 3px solid rgba(0, 146, 71, 1);
}

@media (max-width: 767.98px) {
  .image-header {
    width: 21vw;
  }
}

.table-image {
  width: 5vw;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}


.options-menu {
  position: absolute;
  top: 30px;
  right: 100px;
  background: white;
  border: 1px solid wheat;
  list-style: none;
  padding: 5px 0;
  margin: 0;
  width: 120px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.options-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.options-menu li:hover {
  background-color: #f1f1f1;
}

.options-menu .delete {
  color: red;
}

.modal-header .btn-close {
    border: 2px solid red;
    color: red;
    border-radius: 50%;       
    opacity: 1;               
    padding: 10px;
    transition: transform 0.2s;
}

.modal-header .btn-close:hover {
    transform: scale(1.1);
}