*{
  font-family: 'Inter', sans-serif;
}

.auth-container {
  background-image: url("./assets/BG.png");
  background-size: cover;
}

.bg-overlay {
  background: linear-gradient(
    45deg,
    rgba(47, 140, 96, 0.5),
    rgba(0, 0, 0, 0.8)
  );
}

.buttons {
  background-color: #4aa35a;
  color: #ffffff;
  font-weight: bold;
}

.buttons:hover{
  background-color: #174b21;
  color: #ffffff;
}

.random-text{
  color: #4aa35a;
}

.toggleIcon { 
  cursor: pointer;
}