* {
  font-family: "Inter", sans-serif;
}

.auth-container {
  background-image: url("./assets/BG.png");
  background-size: cover;
}

.bg-overlay {
  background: linear-gradient(
    45deg,
    rgba(47, 140, 96, 0.5),
    rgba(0, 0, 0, 0.8)
  );
}

.buttons {
  background-color: #4aa35a;
  color: #ffffff;
  font-weight: bold;
}

.buttons:hover {
  background-color: #174b21;
  color: #ffffff;
}

.random-text {
  color: #4aa35a;
}

.toggleIcon,
.user-data,
.bell-notifications,
.sidebar-logo,
.options-icon {
  cursor: pointer;
}

.user-data:hover {
  background-color: rgb(224, 224, 224);
  border-radius: 18px;
}

.header-container {
  background-image: url("assets/bg-header.png");
  background-size: cover;
}

.sidebar-container .ps-sidebar-container {
  background-color: #1f263e;
  color: #ffffff;
  border-top-right-radius: 40px;
  height: 100vh;
}

.sidebar-container .ps-menu-button:hover {
  background-color: rgba(0, 146, 77, 0.1) !important;
  border-left: 3px solid rgba(0, 146, 71, 1);
}

@media (max-width: 767.98px) {
  .image-header{
    width: 21vw;
  }
}

